<h1>log in</h1>
<form action="/users/login" method="POST">
  <label for="email">Email</label>
  <input type="text" name="email" id="email" />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" />
  <button type="submit">Login</button>
</form>

<h2>Nuevo user</h2>
<button onclick="location.href='/register'">Registrarse</button>